.content-row {
  display: flex;
  justify-content: flex-start;
  padding: 12px;
  gap: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid darkorchid;
  border-radius: 20px;
}

.name {
  font-size: 1.5em;
}

.ship-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
